<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição no meetup <strong>{{ meetup }}</strong>, os dados do participante estão abaixo:</p>
<p>
  <strong>Data Evento: </strong> {{ date }} <br />
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
